@inherits LayoutComponentBase
@using BlazorWasmDemo.Client.Shared.Header
@using BlazorWasmDemo.Client.Shared.Toasts

<PageTitle>FIDO2 & WebAuthn for .NET</PageTitle>

<section class="header">
    <div class="top-row">
        <InfoNav />
    </div>
    <div class="title">
        <h2>
            Passwordless - FIDO2 for .NET
        </h2>
        <h5>
            Enabling smoooth sign in using FIDO2 / WebAuthn
        </h5>
    </div>
    <div class="footer">
        <NavMenu />
    </div>
</section>

<main class="justify-content-center d-flex p-4">
    <Toast />
    <article class="content p-4 w-75">
        @Body
    </article>
</main>

<footer style="margin-top: 20vh">
    <p>
        <strong>Fido2 .NET library</strong> by <a href="https://github.com/abergs/">Anders Åberg</a>, <a href="https://github.com/aseigler">Alex Seigler</a> and <a href="https://github.com/passwordless-lib/fido2-net-lib/graphs/contributors">contributors</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Available on <a href="https://github.com/passwordless-lib/fido2-net-lib">Github</a>
    </p>

    <p><small>Supported by the <a href="https://dotnetfoundation.org">.NET Foundation</a></small></p>
    <img src="images/dotnetfoundation_v4_horizontal.svg" alt=".NET foundation logo" width="220" />

    <p><small>Illustrations from <a href="https://medium.com/@@herrjemand/introduction-to-webauthn-api-5fd1fb46c285">Ackermann Yuriy</a></small></p>
</footer>