<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
</button>

<ul class="nav px-4 @NavMenuCssClass" @onclick="ToggleNavMenu">
    <li class="nav-item">
        <NavLink href="" Match="NavLinkMatch.All">Overview</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/mfa">Use as 2FA/MFA</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/passwordless">Go Passwordless</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/usernameless">Go Usernameless too</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/custom">Custom</NavLink>
    </li>
</ul>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
