.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: 1rem;
    justify-content: space-around;
    overflow: auto hidden;
    white-space: nowrap;
    border-bottom: medium none;
}

.nav-item {
    font-size: 1rem;
    flex-grow: 1;
    flex-shrink: 0;
}

    .nav-item ::deep a {
        color: inherit;
        line-height: 1.5rem;
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        opacity: 0.9;
    }

        .nav-item ::deep a.active {
            background-color: rgb(255, 255, 255);
            color: rgb(10, 10, 10);
            border-radius: 4px 4px 0 0;
            opacity: 1;
        }

        .nav-item ::deep a:hover:not(.active) {
            background-color: rgba(10, 10, 10, 0.1);
            opacity: 1;
        }

.collapse {
    display: none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }
}
