@{
}

<div class="columns">
    <div class="column is-8">
        <div class="content">
            <h2 class="is-size-6">Advanced settings</h2>
            <p>These settings are typically administred by the RP but for demo purposes we expose them to you for testing behaviours and browser support</p>
            <form id="options">
                <div class="field">
                    <label class="label">Attestation type</label>
                    <div class="control">
                        <div class="select">
                            <select id="option-attestation">
                                <option selected value="none">None</option>
                                <option value="indirect">Indirect</option>
                                <option value="direct">Direct</option>
                                <option value="enterprise">Enterprise</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Authenticator</label>
                    <div class="control">
                        <div class="select">
                            <select id="option-authenticator">
                                <option selected value="">Not specified</option>
                                <option value="cross-platform">Cross Platform (Token)</option>
                                <option value="platform">Platform (TPM)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">User verification</label>
                    <div class="control">
                        <div class="select">
                            <select id="option-userverification">
                                <option value="required">Required</option>
                                <option selected value="preferred">Preferred</option>
                                <option value="discouraged">Discouraged</option>
                            </select>
                        </div>
                    </div>
                    <p class="help">UserVerification can be changed for both register & login</p>

                </div>
                <div class="field">
                    <label class="label">Resident Key</label>
                    <div class="control">
                        <div class="select">
                            <select id="option-residentkey">
                                <option value="required">Required</option>
                                <option selected value="preferred">Preferred</option>
                                <option value="discouraged">Discouraged</option>
                            </select>
                        </div>
                    </div>
                    <p class="help">For register the client will guide the user through setting up user verification if needed to create a discoverable credential. This takes precedence over the setting of userVerification.</p>
                </div>
            </form>
        </div>
    </div>
</div>