@page "/mfa/{handler?}"
@model Fido2Demo.MfaModel
@{
    Layout = "_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <h1 class="title is-1">Scenario: 2FA/MFA</h1>
        <div class="content"><p>This is scenario where we just want to use FIDO as the MFA</p></div>

        <div class="columns">
            <div class="column is-6">

                <h3 class="title is-3">Register user</h3>
                <form action="/mfa" method="post" id="register">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="abergs" name="username" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Display name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Anders Åberg" name="displayName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" placeholder="Do not use something secret" name="password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <p class="help">For demo purposes the password will not be used or stored</p>
                    </div>

                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" disabled checked readonly>
                            Register MFA on registration
                        </label>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-link">Register user</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-6">

                <h3 class="title is-3">Sign in</h3>
                <form action="/mfa" method="post" id="signin">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="abergs" name="username" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" placeholder="Do not use something secret" name="password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <p class="help">For demo purposes the password will not be used or stored</p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-link">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/mfa.register.js"></script>
<script src="~/js/mfa.login.js"></script>