@page "/mfa/{handler?}"
@model Fido2Demo.MfaModel
@{
    Layout = "_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <h1 class="title is-1">Scenario: 2FA/MFA</h1>
        <div class="content"><p>This is scenario where we just want to use FIDO as the MFA. The user register and logins with their username and password. For demo purposes, we trigger the MFA registering on sign up.</p></div>
        <div class="notification is-danger" style="display:none">
            Please note: Your browser does not seem to support WebAuthn yet. <a href="https://caniuse.com/#search=webauthn" target="_blank">Supported browsers</a>
        </div>

        <div class="columns">
            <div class="column is-4">

                <h3 class="title is-3">Create an account</h3>
                <form action="/mfa" method="post" id="register">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="abergs" name="username" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Display name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Anders Åberg" name="displayName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" placeholder="Do not use something secret" name="password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <p class="help">For demo purposes the password will not be used or stored</p>
                    </div>

                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" disabled checked readonly>
                            Register MFA on registration
                        </label>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-link">Create account</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-2"></div>
            <div class="column is-4">

                <h3 class="title is-3">Sign in</h3>
                <form action="/mfa" method="post" id="signin">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="abergs" name="username" id="login-username" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" placeholder="Do not use something secret" name="password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <p class="help">For demo purposes the password will not be used or stored</p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-link">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<div class="section">
    <div class="container">
        <div class="content">
            <h1 class="title is-2">Explanation: 2FA/MFA with FIDO2</h1>
            <p>
                In this scenario, WebAuthn is only used as second factor mechanism. MFA stands for Multi Factor Authentication which generally means it relies on <i>something the user knows</i> (username &amp; password) and <i>something the user has</i> (Authenticator Private key).
                The flow is visualized in the figure below.
            </p>
            <img src="~/images/scenario1.png" alt="figure visualizing username and password sent together with assertion" />
            <p>In this flow the Relying Party does not necessarily need to tell the Authenticator device to verify the human identity (we could set UserVerification to discourage) to minimize user interactions needed to sign in. More on UserVerification in the other scenarios.</p>

            <p>
                Read the source code for this demo here: <a href="@Url.ToGithub("Fido2Demo/wwwroot/js/mfa.register.js")">mfa.register.js</a> and <a href="@Url.ToGithub("Fido2Demo/wwwroot/js/mfa.login.js")">mfa.login.js</a>
            </p>
        </div>
    </div>
</div>

<script src="~/js/mfa.register.js"></script>
<script src="~/js/mfa.login.js"></script>