.navbar {
    margin-bottom: 20px;
}

.credentials {
    .credential {
        word-wrap: break-word;
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        margin: 10px 15px;
        
        .create-date {
            font-style: italic;
        }

        .delete {
            float: right;
            a {
                color: red;
            }
        }
    }
}

.table {
    .format {
        text-transform: uppercase;
        font-weight: bold;
    }
    .no-wrap {
        white-space: nowrap;
    }

    .break {
        word-break: break-all;
    }
}