.navbar-end {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    margin-left: auto;
}

.navbar-item {
    color: inherit;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
    opacity: 0.9;
}

    a.navbar-item:hover {
        background-color: rgb(0, 0, 0);
        opacity: 1;
        color: inherit;
    }