<div class="navbar-end">
    <a class="navbar-item pointer-event" href="">
        Home
    </a>
    <a class="navbar-item" href="https://github.com/passwordless-lib/fido2-net-lib#examples">
        Documentation
    </a>
    <a class="navbar-item" href="https://opencollective.com/passwordless">
        Become a backer
    </a>                            
    <span class="navbar-item">
        <a class="px-2 pb-2 pt-2 rounded-2 is-inverted text-decoration-none" href="https://github.com/passwordless-lib/fido2-net-lib">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>Download</span>
        </a>
    </span>
</div>