body {
    padding-top: 6em;
    padding-bottom: 2em;
    background-color: #f8fafc;
    font-size: 1.2em;
}

.login-wrapper {    
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.buttons {
    padding: 15px;
}

.alert-wrapper {
    padding-top: 20px;
}

.footer {
    span {
        font-size: 10px;
    }
    a { 
        color: #4f46e5;
    }
}

#inputAttestation {
    margin-bottom: 15px;
    font-size: 15px;
}