/* line 1, ../sass/_index.scss */
.navbar {
  margin-bottom: 20px;
}

/* line 6, ../sass/_index.scss */
.credentials .credential {
  word-wrap: break-word;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 15px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
/* line 13, ../sass/_index.scss */
.credentials .credential .create-date {
  font-style: italic;
}
/* line 17, ../sass/_index.scss */
.credentials .credential .delete {
  float: right;
}
/* line 19, ../sass/_index.scss */
.credentials .credential .delete a {
  color: #ef4444;
  transition: color 0.2s ease-in-out;
}

.credentials .credential .delete a:hover {
  color: #dc2626;
}

/* line 27, ../sass/_index.scss */
.table .format {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 31, ../sass/_index.scss */
.table .no-wrap {
  white-space: nowrap;
}
/* line 35, ../sass/_index.scss */
.table .break {
  word-break: break-all;
}

/* line 1, ../sass/_login.scss */
body {
  padding-top: 6em;
  padding-bottom: 2em;
  background-color: #f8fafc;
  font-size: 1.2em;
}

/* line 8, ../sass/_login.scss */
.login-wrapper {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* line 15, ../sass/_login.scss */
.buttons {
  padding: 15px;
}

/* line 19, ../sass/_login.scss */
.alert-wrapper {
  padding-top: 20px;
}

/* line 24, ../sass/_login.scss */
.footer span {
  font-size: 10px;
}
/* line 27, ../sass/_login.scss */
.footer a {
  color: #4f46e5;
}

/* line 32, ../sass/_login.scss */
#inputAttestation {
  margin-bottom: 15px;
  font-size: 15px;
}
